@tailwind base;
@tailwind components;
@tailwind utilities;

.myFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.hFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-direction: row;
}

.collum {
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
}

img {
    height: 30vh;
}

.width {
    width: 50vw;
}


#myFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.text {
    background: #111827;
    padding: 8px 12px;
    border-radius: 7px;
}
