/* General Styles */
body {
    background-color: #111426;
    color: #fff;
}

/* Navbar Styles */
.navbar {
    background-color: #182240;
}

.navbar-brand {
    color: #A67051;
}

.nav-link {
    color: #A67051;
}

.nav-link.active {
    font-weight: bold;
    color: #3B668C;
}

/* Button Styles */
.btn-primary {
    background-color: #3B668C;
    border-color: #3B668C;
}

.btn-primary:hover {
    background-color: #59453E;
    border-color: #59453E;
}

.btn-outline-light {
    color: #A67051;
    border-color: #A67051;
}

.btn-outline-light:hover {
    background-color: #59453E;
    border-color: #59453E;
}

/* Custom Backgrounds */
.bg-custom-dark {
    background-color: #111426;
}

.bg-custom-light {
    background-color: #182240;
}

/* Custom Text Colors */
.text-custom-accent {
    color: #A67051;
}
